.dashboard {
    display: grid;
    height: 100vh;
    /* For considering full height */
    width: 100vw;
    /* for full width till end. */

    background-color: rgb(187, 193, 193);

}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 22;
    background-color: rgb(13, 136, 185);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
    padding-left: 30px;
}

.sidebar-item {
    display: grid;
    /* well this is for creating both icons and text in same as grid. */
    grid-template-columns: 90px auto;
    align-items: center;
    /* for keeping the text center to the image.  */
    gap: 15px;
    /* this is the gap between icons and text */
    color: whitesmoke;
    font-size: larger;
}

.sidebar-item img {
    width: 90px;
    height: 90px;
}

.sidebar-dashboard {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 30px;
    align-items: center;

    font-size: x-large;
    padding: 10px 0;
    color: whitesmoke;
}

.sidebar-dashboard img {
    width: 120px;
    height: 140px;
}




.header {
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: white;
    box-shadow: 0px 8px 10px rgb(127, 127, 127);
    z-index: 1;
    padding: 10px 20px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;

    /* we can also replace this with flex like- 
   display: flex;
  align-items: center;
  justify-content: center;  */
    row-gap: 0px;
    margin: 0;
}

.header-top {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.searchbar {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.searchbar img {
    width: 60px;
    height: 60px;
}

.searchbar input {
    flex: 1;
    padding: 15px 12px;
    border: 2px solid grey;
    border-radius: 20px;
    width: 100px;
    background-color: rgb(207, 201, 201);

}

.notification {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 50px;
}

.notification img {
    width: 60px;
    height: 60px;
}

.notification span {
    font-size: xx-large;
    font-weight: 800;
}

/* now for the bottom part of Header.  */
.header-down {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.introduction {
    display: flex;
    align-items: center;
    gap: 10px;
}

.introduction img {
    width: 120px;
    height: 120px;
}

.introduction span {
    font-size: xx-large;
    font-weight: 800;
}

.introduction span.hello {
    font-size: 1em;
    font-weight: 800;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    padding: 50px;
}

.action-buttons button {
    font-size: x-large;
    font-weight: bolder;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(17, 151, 204);
    border: 4px solid blue;
    border-radius: 30px;


}

.content {
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 22;
    background-color: rgb(187, 193, 193);
}